# Local VBox folder
VirtualBox-5.2.10*

# Building stuff in fake_driver folder
fake_driver/*.o
fake_driver/*.o.cmd
fake_driver/modules.order
fake_driver/Module.symvers
fake_driver/*.ko
fake_driver/*.ko.cmd
fake_driver/*.mod.c
fake_driver/*.mod.o
fake_driver/*.mod.o.cmd

# VM Disk
Ubuntu\ *

# VS Code folder
.vscode